default:
  suites:
    api:
      paths:
        - '%paths.base%/features/api'
      contexts:
        - App\Tests\Behat\ApiContext
        - App\Tests\Behat\CityFixtureContext
        - App\Tests\Behat\AddressFixtureContext

  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: tests/bootstrap.php
      kernel:
        class: App\Kernel
        environment: test
        debug: true
